In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:

base_dir = "G:/project/dataset/citydata/season_1/training_data"

train_cluster_map_file = os.path.join(base_dir, 'cluster_map', 'cluster_map')
train_poi_file = os.path.join(base_dir, 'poi_data', 'poi_data')
train_order_file = os.path.join(base_dir, 'order_data', 'order_data_2016-01-21')
#train_cluster_map = os.path.join(base_dir, 'cluster_map')

In [7]:
cluster_map = pd.read_csv(train_cluster_map_file, sep="\t", header=None, names=['hashid', 'id'])

In [13]:
print len(cluster_map)

66

In [30]:
def time2Slice(time_str):
    l = time_str.split(":")
    return int(l[0]) * 6 + int(l[1]) / 10 + 1

In [55]:
def reduceOrderFile(base_name, f):
    import time
    prev = time.time()
    fname = os.path.join(base_name, f)
    order = pd.read_csv(fname, sep="\t", header=None, dtype={'Price': np.str},
                          names=['order_id', 'driver_id', 'passenger_id', 'start_district_hash', 'dest_district_hash',
                                'Price', 'Time'])

    full_order = order.merge(cluster_map, left_on='start_district_hash', right_on='hashid')

    full_order['Date'] = pd.Series([e.split()[0] for e in full_order['Time']])

    full_order['TimePiece'] = pd.Series([time2Slice(e.split()[1]) for e in full_order['Time']])

    full_order['Resp'] = full_order['driver_id'].notnull()

    small_order = full_order.loc[:, ['Date', 'TimePiece', 'id', 'Price', 'Resp']]
    small_order_file = os.path.join(base_name, f + ".csv")
    small_order.to_csv(small_order_file, index = False)
    print time.time() - prev
    
    #return small_order

In [57]:
z = reduceOrderFile('G:/project/dataset/citydata/season_1/training_data\order_data', 'order_data_2016-01-21')

5.30900001526

In [52]:
print len(z)
print sum(z['Resp'])

474340
391777

In [58]:
def reduceFiles(base_name):
    for rt, dirs, files in os.walk(base_name):
        for f in files:           
            reduceOrderFile(base_name, f)

In [59]:
reduceFiles(os.path.join(base_dir, 'order_data'))

6.16599988937
4.09300017357
4.24799990654
4.88099980354
5.09999990463
4.90000009537
4.94000005722
5.15599989891
5.15200018883
5.24800014496
6.0119998455
5.132999897
5.16599988937
5.06999993324
5.88199996948
6.375
4.98500013351
5.53900003433
6.41299986839
5.78500008583
5.19200015068
0.603999853134

In [8]:
cluster_map[:2]

                             hashid  id
0  90c5a34f06ac86aee0fd70e2adce7d8a   1
1  f2c8c4bb99e6377d21de71275afd6cd2   2

In [43]:
train_order = pd.read_csv(train_order_file, sep="\t", header=None, dtype={'Price': np.float, 'driver_id': np.str},
                          names=['order_id', 'driver_id', 'passenger_id', 'start_district_hash', 'dest_district_hash',
                                'Price', 'Time'])

In [44]:
print len(train_order)

474340

In [47]:
t = train_order['driver_id']

In [49]:
t.notnull()

0          True
1          True
2          True
3          True
4          True
5          True
6          True
7          True
8         False
9          True
10         True
11         True
12         True
13         True
14         True
15        False
16         True
17         True
18         True
19         True
20        False
21         True
22         True
23         True
24         True
25         True
26         True
27         True
28         True
29         True
          ...
474310     True
474311     True
474312     True
474313     True
474314     True
474315     True
474316     True
474317     True
474318     True
474319     True
474320     True
474321     True
474322     True
474323     True
474324     True
474325     True
474326     True
474327     True
474328     True
474329    False
474330    False
474331    False
474332    False
474333    False
474334     True
474335     True
474336     True
474337     True
474338     True
474339    False
Name: driver_id, dtype: bool

In [9]:
temp = train_order[:200]

In [19]:
z[:5]

,order_id,driver_id,passenger_id,start_district_hash,dest_district_hash,Price,Time,Date,TimePiece,Resp,hashid,id
0,1c4cece0595a0e62dcffab5fccb0f187,6f7b41c8e3ce01acd520ffd275ed8f91,d3e0f63ee777e3d945337cbda7e6c045,2407d482f0ffa22a947068f2551fe62c,91690261186ae5bee8f83808ea1e4a01,8,2016-01-21 09:28:04,2016-01-21,57,True,2407d482f0ffa22a947068f2551fe62c,28
1,485000a093e85daef343f4dc4dba73cd,2a3f40b596322cf530ddb98538f2577d,ef720be0ae09f948ae04bb933683854a,2407d482f0ffa22a947068f2551fe62c,2407d482f0ffa22a947068f2551fe62c,7,2016-01-21 01:15:55,2016-01-21,8,True,2407d482f0ffa22a947068f2551fe62c,28
2,e255d556e2de5554944ba201a9ee367d,4d5d26f235e052c25b368a799df70d7c,39f42626b5bea6d2f487bce6a91a7667,2407d482f0ffa22a947068f2551fe62c,2407d482f0ffa22a947068f2551fe62c,7,2016-01-21 20:24:31,2016-01-21,123,True,2407d482f0ffa22a947068f2551fe62c,28
3,90f39f9ca08618f90e982cfc64417fac,2aeb7635675367d67695728219bd7494,7607cc37af42824b12532f77d1047a68,2407d482f0ffa22a947068f2551fe62c,62afaf3288e236b389af9cfdc5206415,16.2,2016-01-21 11:49:11,2016-01-21,71,True,2407d482f0ffa22a947068f2551fe62c,28
4,95cbbe28a1a4159b81408777bc00d566,a4abe1e1bb62401da9fb95059fc7abb7,b5f9ed926d7cdd509bca53a777bc3190,2407d482f0ffa22a947068f2551fe62c,62afaf3288e236b389af9cfdc5206415,19,2016-01-21 15:35:48,2016-01-21,94,True,2407d482f0ffa22a947068f2551fe62c,28

In [20]:
small_order = full_train_order.loc[:, ['Date', 'TimePiece', 'id', 'Price', 'Resp']]

In [21]:
small_order[:3]

         Date  TimePiece  id Price  Resp
0  2016-01-21         57  28     8  True
1  2016-01-21          8  28     7  True
2  2016-01-21        123  28     7  True

In [22]:
len(small_order)

474340